/**
 * Admin toolbar icon.
 */
.toolbar-icon-quiz-admin::before {
  background-image: url(../images/icon.svg);
}

.toolbar-icon-quiz-admin.is-active::before {
  background-image: url(../images/icon-active.svg);
}

/* Score box */
div.quiz-report-score-container {
  float: right;
  padding: 4px 6px;
  border-top: solid 1px gray;
  border-right: solid 1px gray;
  border-bottom: solid 1px gray;
  border-left: solid 1px gray;
}

.q-correct {
  background-color: #dfd;
}

.q-wrong {
  background-color: #fcc;
}

.q-waiting {
  background-color: #ffd;
}
